@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* ESTILOS GENERALES */
* {
    font-family: 'Inter';
    font-style: normal;
    font-size: 32px;
    overflow: hidden;
    line-height: 150%;
    background: #F3F5FC;
}

/* Encriptador - 1 Desktop */

/* Vector */

header {
    display: flex;
    width: 100%;
}

.logo-alura {
    padding-top: 1em;
    margin: 0 0 0 5.1em;

}

main {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.main-section {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

/* Ingrese el texto aqui */

.text-area {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 5vw;
    height: 10vh;
    border: none;
    color: #0A3871;
    padding: 2px;
    text-transform: lowercase;
    resize: none;
}

::placeholder { color: #0A3871; }
    .text-area:focus {
        outline: none;
    }

/* Resultado del texto encriptado */

.mensaje {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    background-image: url("/assets/muñeco.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 24px;
    color: black;
    padding: 1em 0 0 1em;
    resize: none;
    height: 55%;
}

.mensaje:focus {
    outline: none;
}

/* Botones */

.flex-btns {
    display: flex;
    align-items: flex-end;
}

.btn {
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
    height: 67px;
    width: 328px;
    font-size: 16px;
}

.btn-desencriptar {
    background: #D8DFE8;
    color: #0A3871;
    margin-left: 30px;
}

.btn-encriptar {
    background-color: #0A3871;
    color: white;
}

.btn-blanco {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    margin-top: 37%;
    right: 10%;
    background-color: #FFFFFF;

}

.btn-copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    background-color: #FFFFFF;
    cursor: pointer;
    width: 336px;
    font-size: 16px;
}

/* Solo letras minúsculas y sin acentos */
.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120vh;
    width: 100%;
    margin: 0 0 0 5vw;
    gap: .5em;
}

.info {
    background-image: url("/assets/info-logo.svg");
    background-repeat: no-repeat;
    background-position-y: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.informacion {
    color: #495057;
    font-size: 18px;
    margin: 0 0 0 1.5em;
}


/* DISEÑO RESPONSIVO */

/* QUERIES DESKTOP */
@media screen and (max-width: 1440px) and (max-height: 1024px) {
    
    main {
        margin-left: 1em;
        padding: 0 1em;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .logo-alura {
        padding: 0;
        margin: 1em 0 0 2em;
        width: 1em;
    }

    .mensaje {
        height: 62%;
    }
}

/* QUERIES TABLET (1430-480) */
@media screen and (max-width: 768px) {
    
    header {
        display: flex;
        align-items: flex-start;
    }

    .logo-alura {
        margin-top: 1em;
        margin-left: 1.3em;
        width: 4%;
    }

    main {
        display: flex;
        flex-direction: column;
        padding: 0 1em;
    }

    .text-area {
        margin-left: .2em;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 45vh;
    }
    
    .info-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 45vh;
        margin: 0;
    }
    
    .info {
        display: flex;
        align-self: flex-start;
    }
    
    .flex-btns {
        display: flex;
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .botones {
        width: 440px;
        height: 67px;
    }
    
    .mensaje {
        background-image: url("/assets/mensaje-no-encontrado.svg");
        height: 25vh;
        width: 100%;
        margin: 0;
        padding-top: 1rem;
        font-size: 24px;
        text-align: center;
        color: black;
    }

    .btn-blanco {
       
        margin-bottom: 2.5rem;
        width: 80vw;
    }

    .btn-copiar {
        padding: 1.5em;
        width: 80vw;
    }

}

/* QUERIES MOBILE */
@media screen and (max-width: 480px) {
    header {
        margin: 0;
        padding: 0;
    }

    .logo-alura {
        margin: .5em 0 0 .3em;
        padding: 0;
        width: 10%;
    }

    main {
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
    }

    .text-area {
        width: 100%;
        height: 10vh;
        font-size: 32px;
    }

    .flex-btns {
        flex-direction: column;
        justify-content: center;
        gap: .7em;
    }

    .btn {
        width: 100%;
    }

    section {
        height: 55vh;
        align-items: center;
    }

    .mensaje {
        background-image: url("/assets/mensaje-no-encontrado.svg");        
        width: 90%;
        height: 15vh;
        margin-bottom: 50%;
    }
}
